/* CSS declarations go here */
*{
  padding: 0;
  margin: 0;
  transition: 0.3s ease-in-out;
}

body{
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
.searchResults{
  color: green;
  height: 200px;
}

.no-underline{
  color: black;
  text-decoration: none !important;
}

.git-card{
  border-left: 20px solid #00bcd4;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  margin: 0 5px 3px 5px;
}
.git-card:hover{
  background-color: #E0F7FA;
  border-left: 20px solid #FFCC80;
}
